<h1>フォロワー一覧</h1>
<div class="container-fluid">
  <div class="row">
		<div class="col-md-12">
    <% @followers.each do |user| %><!--eachで繰り返し処理-->
			<div class="row">
            <div class="col-md-6">
              <%= gravatar_for(user, size: 50) %>
            </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <%= user.name %>
          </div>
      </div>
    <% end %>
		</div>
	</div>
</div>
